<h1>Welcome</h1>
<div class="well">
  <h4>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</h4>
  <p>Problems look mighty small from 150 miles up.</p>
</div>

<div class="container">
  <% @questions.each do |q| %>  
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object", src="<%= q.gravatar %>">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= q.email %> asked:</h4>
        <%= time_ago_in_words q.created_at %> ago
        <p><%= q.body %></p>
        <div>
          <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
        </div>
      </div>    
    </div>
  <% end %>
</div>

